import React from "react";
import styles from './index.module.less'

<% if (data.isTypescript) { -%>
type <%= data.name %>Props = {

}
<% } -%>
<% if (data.isTypescript) { -%>

export default ({}:<%= data.name %>Props) => {
<% } else { -%>
export default ({}) => {
<% } -%>
  return <div><%= data.name %></div>
}